In [1]:
import mysql.connector
import keyring

In [41]:
db = mysql.connector.connect(
    host="localhost",
    user="stefan",
    passwd="Gigelfrone112!!",
    auth_plugin = 'mysql_native_password',
    database = "declaratiiavere",
)

mycursor = db.cursor()

In [ ]:
mycursor.execute("SHOW tables;")

In [ ]:
for result in mycursor:
    print(result)

In [49]:
mycursor.execute("DROP TABLE TEREN_CLADIRE;")
mycursor.execute("DROP TABLE MIJLOC_TRANSPORT;")
mycursor.execute("DROP TABLE BUN_CULTURAL;")
mycursor.execute("DROP TABLE BUN_INSTRAINAT;")
mycursor.execute("DROP TABLE ACTIVA_FINANCIARA_INDIRECTA;")
mycursor.execute("DROP TABLE ACTIVA_FINANCIARA_DIRECTA;")
mycursor.execute("DROP TABLE ALTA_ACTIVA_FINANCIARA")
mycursor.execute("DROP TABLE AJUTOR;")
mycursor.execute("DROP TABLE MEMBRU_STAT;")
mycursor.execute("DROP TABLE MEMBRU_NON_STAT;")
mycursor.execute("DROP TABLE MEMBRU_PARTID;")
mycursor.execute("DROP TABLE MEMBRU_SINDICAT;")
mycursor.execute("DROP TABLE VENIT;")
mycursor.execute("DROP TABLE CONTRACT;")
mycursor.execute("DROP TABLE DATORIE;")
mycursor.execute("DROP TABLE DOCUMENT;")
mycursor.execute("DROP TABLE TITULAR;")

In [50]:
mycursor.execute("""CREATE TABLE TITULAR(
                titular_id INT PRIMARY KEY,
                nume VARCHAR(50),
                init_tata VARCHAR(8),
                prenume VARCHAR(50),
                functie VARCHAR(80),
                institutie VARCHAR(80)
                );""")

mycursor.execute("""CREATE TABLE DOCUMENT(
                doc_id INT PRIMARY KEY,
                titular_id INT,
                data DATE,
                tip INT,
                FOREIGN KEY (titular_id) REFERENCES TITULAR(titular_id)
                );""")

mycursor.execute("""CREATE TABLE TEREN_CLADIRE(
                teren_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                tip INT,
                tara VARCHAR(40),
                judet VARCHAR(40),
                localitate VARCHAR(40),
                categorie VARCHAR(40),
                an_dobandire YEAR,
                suprafata INT,
                cota_parte VARCHAR(40),
                mod_dobandire VARCHAR(70),
                proprietar VARCHAR (150),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE MIJLOC_TRANSPORT(
                mijloc_transport_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                natura VARCHAR(50),
                marca VARCHAR(50),
                nr_bucati INT,
                an_fabricatie YEAR,
                mod_dobandire VARCHAR(70),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE BUN_CULTURAL(
                bun_cultural_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                descriere_sumara VARCHAR(90),
                an_dobandire YEAR,
                valoare_nr INT,
                valoare_valuta VARCHAR(15),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE BUN_INSTRAINAT(
                bun_instrainat_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                natura VARCHAR(50),
                data DATE,
                persoana_catre VARCHAR(70),
                forma VARCHAR(40),
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE ACTIVA_FINANCIARA_DIRECTA(
                fin_direct_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                emitent VARCHAR(70),
                tip VARCHAR(130),
                nr_sau_cota INT,
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE ACTIVA_FINANCIARA_INDIRECTA(
                fin_indirect_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                institutie VARCHAR(100),
                tip VARCHAR(130),
                valuta VARCHAR(10),
                an YEAR,
                sold INT,
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE ALTA_ACTIVA_FINANCIARA(
                fin_alte_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                descriere VARCHAR(80),
                valoare INT,
                valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")


mycursor.execute("""CREATE TABLE DATORIE(
                datorie_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                creditor VARCHAR(70),
                an_creata YEAR,
                an_scadenta YEAR,
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE AJUTOR(
                ajutor_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                realizator_tip INT,
                realizator_nume VARCHAR(2570),
                sursa VARCHAR(120),
                serviciu_obiect VARCHAR(60),
                venit_nr INT,
                venit_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE VENIT(
                venit_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                venit_tip VARCHAR(100),
                realizator_tip INT,
                realizator_nume VARCHAR(80),
                sursa VARCHAR(100),
                serviciu_obiect VARCHAR(70),
                venit_nr INT,
                venit_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")


mycursor.execute("""CREATE TABLE MEMBRU_NON_STAT(
                membru_non_stat_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                unitate VARCHAR(120),
                calitate VARCHAR(40),
                nr_parti_sociale INT,
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE MEMBRU_STAT(
                membru_stat_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                unitate VARCHAR(120),
                calitate VARCHAR(40),
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE MEMBRU_SINDICAT(
                membru_sindicat_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                functie VARCHAR(100),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE MEMBRU_PARTID(
                membru_partid_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                functie VARCHAR(100),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE CONTRACT(
                contract_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                tip_beneficiar INT,
                nume_beneficiar VARCHAR(60),
                institutie_contractanta VARCHAR(100),
                procedura VARCHAR(50),
                tip_contract VARCHAR(40),
                data_incheiere YEAR,
                durata VARCHAR(30),
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

In [3]:
mycursor = db.cursor()

In [24]:
mycursor.execute("""SELECT * from TITULAR;""")
for result in mycursor:
    print(result)

(3, 'Ciolacu', 'I.', 'Ion-Marcel', 'Președintele Camerei Deputaților', 'Camera\nDeputatilor')
(4, 'Ciolacu', 'I.', 'Ion-Marcel', 'Președintele Camerei Deputaților', 'Camera Deputatilor')

In [25]:
mycursor.execute("""SELECT * from DOCUMENT;""")
for result in mycursor:
    print(result)

(1, 4, datetime.date(2023, 6, 13), 1)
(3, 3, datetime.date(2023, 6, 13), 1)
(5, 3, datetime.date(2023, 6, 13), 1)
(6, 4, datetime.date(2023, 6, 13), 1)
(7, 4, datetime.date(2023, 6, 13), 1)

In [26]:
mycursor.execute("""SELECT * from TEREN_CLADIRE;""")
for result in mycursor:
    print(result)

(9, 5, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 2002, 387, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(10, 5, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 1999, 62, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(11, 6, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 2002, 387, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(12, 6, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 1999, 62, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(13, 7, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 2002, 387, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(14, 7, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 1999, 62, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(15, 7, 1, 'ROMANIA', 'Buzau', 'Buzau', 'Casă de locuit', 2005, 282, '1/1', 'Construcție', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(16, 7, 1, 'ROMANIA', 'Buzau', 'Buzau', 'Casă de locuit', 1999, 43, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(17, 1, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 2002, 387, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(18, 1, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 1999, 62, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(19, 1, 1, 'ROMANIA', 'Buzau', 'Buzau', 'Casă de locuit', 2005, 282, '1/1', 'Construcție', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(20, 1, 1, 'ROMANIA', 'Buzau', 'Buzau', 'Casă de locuit', 1999, 43, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')

In [27]:
mycursor.execute("""SELECT * from MIJLOC_TRANSPORT;""")
for result in mycursor:
    print(result)

In [28]:
mycursor.execute("""SELECT * from BUN_CULTURAL;""")
for result in mycursor:
    print(result)

In [29]:
mycursor.execute("""SELECT * from BUN_INSTRAINAT;""")
for result in mycursor:
    print(result)

In [30]:
mycursor.execute("""SELECT * from ACTIVA_FINANCIARA_INDIRECTA;""")
for result in mycursor:
    print(result)

(1, 1, 'BANCA TRANSILVANIA, ***************', 'Cont curent sau echivalente (inclusiv card)', 'RON', 2003, 38162)
(2, 1, 'BANCA TRANSILVANIA, ***************', 'Cont curent sau echivalente (inclusiv card)', 'RON', 2017, 2058)
(3, 1, 'BANCA TRANSILVANIA, ***************', 'Cont curent sau echivalente (inclusiv card)', 'EUR', 2019, 3093)
(4, 1, 'BANCA TRANSILVANIA, ***************', 'Depozit bancar sau echivalente', 'EUR', 2022, 10000)
(5, 1, 'BANCA TRANSILVANIA, ***************', 'Depozit bancar sau echivalente', 'EUR', 2023, 10029)
(6, 1, 'BANCA TRANSILVANIA, ***************', 'Depozit bancar sau echivalente', 'EUR', 2023, 10029)
(7, 1, 'BANCA TRANSILVANIA, ***************', 'Cont curent sau echivalente (inclusiv card)', 'RON', 2015, 11935)
(8, 1, 'BANCA TRANSILVANIA, ***************', 'Cont curent sau echivalente (inclusiv card)', 'EUR', 2019, 5728)
(9, 1, 'BANCA TRANSILVANIA, ***************', 'Cont curent sau echivalente (inclusiv card)', 'RON', 2017, 30)
(10, 1, 'REVOLUT BANK UAB, ********', 'Cont curent sau echivalente (inclusiv card)', 'RON', 2021, 218)

In [31]:
mycursor.execute("""SELECT * from ACTIVA_FINANCIARA_DIRECTA;""")
for result in mycursor:
    print(result)

(1, 1, 'CIOLACU MIHAI CRISTIAN', 'Împrumuturi acordate în nume personal', 490000, 490000, 'RON')
(2, 1, 'ALCOM SRL', 'Acţiuni sau părţi sociale în societăţi comerciale', 301, 3010, 'RON')

In [32]:
mycursor.execute("""SELECT * from ALTA_ACTIVA_FINANCIARA;""")
for result in mycursor:
    print(result)

In [33]:
mycursor.execute("""SELECT * from DATORIE;""")
for result in mycursor:
    print(result)

(1, 1, 'BANCA TRANSILVANIA', 2010, 2037, 85000, 'EUR')
(2, 1, 'BANCA TRANSILVANIA', 2012, 2023, 3000, 'RON')
(3, 1, 'BANCA TRANSILVANIA', 2017, 2026, 22000, 'RON')
(4, 1, 'BANCA TRANSILVANIA', 2017, 2023, 10000, 'RON')

In [34]:
mycursor.execute("""SELECT * from AJUTOR;""")
for result in mycursor:
    print(result)

In [35]:
mycursor.execute("""SELECT * from VENIT;""")
for result in mycursor:
    print(result)

(1, 1, '1. Venituri din salarii', 0, 'CIOLACU ION MARCEL', 'Camera Deputatilor, STR. IZVOR, NR. 2, BUCURESTI', 'INDEMNIZATIE DEPUTAT', 167916, 'RON')
(2, 1, '1. Venituri din salarii', 1, 'CIOLACU ROXANA MIHAELA', 'LUCIA COM 94 SRL, BUZAU', 'SALARIU', 52740, 'RON')

In [42]:
mycursor.execute("""SELECT * from MEMBRU_STAT;""")
for result in mycursor:
    print(result)

(1, 10, '1.1 ASOCIATIA LUMINA 1879 - Buzau ****************************', 'Membru fondator', 0, 'RON')

In [43]:
mycursor.execute("""SELECT * from MEMBRU_NON_STAT;""")
for result in mycursor:
    print(result)

(2, 10, '1.1 ALCOM SRL - Buzau ****************************** *', 'Asociat', 3010, 3010, 'RON')

In [44]:
mycursor.execute("""SELECT * from MEMBRU_PARTID;""")
for result in mycursor:
    print(result)

(1, 10, '4.1 Partidul Social Democrat - Presedinte')
(2, 10, '4.2 Partidul Social Democrat - Membru al Consiliului Politic National')
(3, 10, '4.3 Partidul Social Democrat - Membru al Biroului Permanent National')

In [45]:
mycursor.execute("""SELECT * from MEMBRU_SINDICAT;""")
for result in mycursor:
    print(result)

In [46]:
mycursor.execute("""SELECT * from CONTRACT;""")
for result in mycursor:
    print(result)