In [23]:
import mysql.connector
import keyring

In [24]:
db = mysql.connector.connect(
    host="localhost",
    user="stefan",
    passwd="Gigelfrone112!!",
    auth_plugin = 'mysql_native_password',
    database = "declaratiiavere",
)

mycursor = db.cursor()

In [31]:
mycursor.execute("SHOW tables;")

In [32]:
for result in mycursor:
    print(result)

('activa_financiara_directa',)
('activa_financiara_indirecta',)
('ajutor',)
('alta_activa_financiara',)
('bun_cultural',)
('bun_instrainat',)
('contract',)
('datorie',)
('declaratiiavere.teren_cladire',)
('document',)
('membru_non_stat',)
('membru_partid',)
('membru_sindicat',)
('membru_stat',)
('mijloc_transport',)
('teren_cladire',)
('titular',)
('venit',)

In [15]:
mycursor.execute("DROP TABLE TEREN_CLADIRE;")
mycursor.execute("DROP TABLE MIJLOC_TRANSPORT;")
mycursor.execute("DROP TABLE BUN_CULTURAL;")
mycursor.execute("DROP TABLE BUN_INSTRAINAT;")
mycursor.execute("DROP TABLE ACTIVA_FINANCIARA_INDIRECTA;")
mycursor.execute("DROP TABLE ACTIVA_FINANCIARA_DIRECTA;")
mycursor.execute("DROP TABLE ALTA_ACTIVA_FINANCIARA")
mycursor.execute("DROP TABLE AJUTOR;")
mycursor.execute("DROP TABLE MEMBRU_STAT;")
mycursor.execute("DROP TABLE MEMBRU_NON_STAT;")
mycursor.execute("DROP TABLE MEMBRU_PARTID;")
mycursor.execute("DROP TABLE MEMBRU_SINDICAT;")
mycursor.execute("DROP TABLE VENIT;")
mycursor.execute("DROP TABLE CONTRACT;")
mycursor.execute("DROP TABLE DATORIE;")
mycursor.execute("DROP TABLE DOCUMENT;")
mycursor.execute("DROP TABLE TITULAR;")

In [28]:
mycursor.execute("""CREATE TABLE TITULAR(
                titular_id INT PRIMARY KEY,
                nume VARCHAR(50),
                init_tata VARCHAR(8),
                prenume VARCHAR(50),
                functie VARCHAR(80),
                institutie VARCHAR(80)
                );""")

mycursor.execute("""CREATE TABLE DOCUMENT(
                doc_id INT PRIMARY KEY,
                titular_id INT,
                data DATE,
                tip INT,
                avere_doc INT,
                FOREIGN KEY (titular_id) REFERENCES TITULAR(titular_id)
                );""")

mycursor.execute("""CREATE TABLE TEREN_CLADIRE(
                teren_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                tip INT,
                tara VARCHAR(40),
                judet VARCHAR(40),
                localitate VARCHAR(40),
                categorie VARCHAR(40),
                an_dobandire YEAR,
                suprafata INT,
                cota_parte VARCHAR(40),
                mod_dobandire VARCHAR(70),
                proprietar VARCHAR (150),
                val_estimata INT,
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE MIJLOC_TRANSPORT(
                mijloc_transport_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                natura VARCHAR(50),
                marca VARCHAR(50),
                nr_bucati INT,
                an_fabricatie YEAR,
                mod_dobandire VARCHAR(70),
                val_estimata INT,
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE BUN_CULTURAL(
                bun_cultural_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                descriere_sumara VARCHAR(90),
                an_dobandire YEAR,
                valoare_nr INT,
                valoare_valuta VARCHAR(15),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE BUN_INSTRAINAT(
                bun_instrainat_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                natura VARCHAR(50),
                data DATE,
                persoana_catre VARCHAR(70),
                forma VARCHAR(40),
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE ACTIVA_FINANCIARA_DIRECTA(
                fin_direct_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                emitent VARCHAR(70),
                tip VARCHAR(130),
                nr_sau_cota INT,
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE ACTIVA_FINANCIARA_INDIRECTA(
                fin_indirect_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                institutie VARCHAR(100),
                tip VARCHAR(130),
                valuta VARCHAR(10),
                an YEAR,
                sold INT,
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE ALTA_ACTIVA_FINANCIARA(
                fin_alte_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                descriere VARCHAR(80),
                valoare INT,
                valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")


mycursor.execute("""CREATE TABLE DATORIE(
                datorie_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                creditor VARCHAR(70),
                an_creata YEAR,
                an_scadenta YEAR,
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE AJUTOR(
                ajutor_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                realizator_tip INT,
                realizator_nume VARCHAR(2570),
                sursa VARCHAR(120),
                serviciu_obiect VARCHAR(60),
                venit_nr INT,
                venit_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE VENIT(
                venit_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                venit_tip VARCHAR(100),
                realizator_tip INT,
                realizator_nume VARCHAR(80),
                sursa VARCHAR(100),
                serviciu_obiect VARCHAR(130),
                venit_nr INT,
                venit_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")


mycursor.execute("""CREATE TABLE MEMBRU_NON_STAT(
                membru_non_stat_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                unitate VARCHAR(120),
                calitate VARCHAR(40),
                nr_parti_sociale INT,
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE MEMBRU_STAT(
                membru_stat_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                unitate VARCHAR(120),
                calitate VARCHAR(40),
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE MEMBRU_SINDICAT(
                membru_sindicat_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                functie VARCHAR(100),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE MEMBRU_PARTID(
                membru_partid_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                functie VARCHAR(100),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

mycursor.execute("""CREATE TABLE CONTRACT(
                contract_id INT PRIMARY KEY AUTO_INCREMENT,
                doc_id INT,
                tip_beneficiar INT,
                nume_beneficiar VARCHAR(60),
                institutie_contractanta VARCHAR(100),
                procedura VARCHAR(50),
                tip_contract VARCHAR(40),
                data_incheiere YEAR,
                durata VARCHAR(30),
                valoare_nr INT,
                valoare_valuta VARCHAR(10),
                FOREIGN KEY (doc_id) REFERENCES DOCUMENT(doc_id)
                );""")

In [29]:
mycursor = db.cursor()

In [30]:
mycursor.execute("""SELECT * from TITULAR;""")
for result in mycursor:
    print(result)

In [5]:
mycursor.execute("""SELECT * from DOCUMENT;""")
for result in mycursor:
    print(result)

(1, 1, datetime.date(2023, 6, 13), 1)
(2, 2, datetime.date(2022, 5, 26), 1)
(3, 3, datetime.date(2022, 6, 9), 1)
(4, 3, datetime.date(2023, 5, 31), 1)

In [6]:
mycursor.execute("""SELECT * from TEREN_CLADIRE;""")
for result in mycursor:
    print(result)

(1, 1, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 2002, 387, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(2, 1, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 1999, 62, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(3, 1, 1, 'ROMANIA', 'Buzau', 'Buzau', 'Casă de locuit', 2005, 282, '1/1', 'Construcție', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(4, 1, 1, 'ROMANIA', 'Buzau', 'Buzau', 'Casă de locuit', 1999, 43, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ION MARCEL CIOLACU ROXANA MIHAELA')
(5, 2, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 2002, 387, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ROXANA MIHAELA CIOLACU ION MARCEL')
(6, 2, 0, 'ROMANIA', 'Buzau', 'Buzau', 'Intravilan', 1999, 62, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ROXANA MIHAELA CIOLACU ION MARCEL')
(7, 2, 1, 'ROMANIA', 'Buzau', 'Buzau', 'Casă de locuit', 2005, 282, '1/1', 'Construcție', 'CIOLACU ROXANA MIHAELA CIOLACU ION MARCEL')
(8, 2, 1, 'ROMANIA', 'Buzau', 'Buzau', 'Casă de locuit', 1999, 43, '1/1', 'Contract de vânzare cumpărare', 'CIOLACU ROXANA MIHAELA CIOLACU ION MARCEL')
(9, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 1997, 85, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(10, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 2001, 253, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(11, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 1992, 377, '1/1', 'Contract de donaţie Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(12, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 2007, 76, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(13, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 2007, 64, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(14, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 2020, 67, '1/1', 'Moştenire', 'IOHANNIS CARMEN')
(15, 4, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 1997, 85, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS CARMEN IOHANNIS KLAUS')
(16, 4, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 2001, 253, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS CARMEN IOHANNIS KLAUS')
(17, 4, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 1992, 377, '1/1', 'Contract de donaţie Contract de vânzare cumpărare', 'IOHANNIS CARMEN IOHANNIS KLAUS')
(18, 4, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 2007, 76, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS CARMEN IOHANNIS KLAUS')
(19, 4, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 2007, 64, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS CARMEN IOHANNIS KLAUS')
(20, 4, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 2020, 67, '1/1', 'Moştenire', 'IOHANNIS CARMEN')

In [ ]:
mycursor.execute("""SELECT * from MIJLOC_TRANSPORT;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from BUN_CULTURAL;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from BUN_INSTRAINAT;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from ACTIVA_FINANCIARA_INDIRECTA;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from ACTIVA_FINANCIARA_DIRECTA;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from ALTA_ACTIVA_FINANCIARA;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from DATORIE;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from AJUTOR;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from VENIT;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from MEMBRU_STAT;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from MEMBRU_NON_STAT;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from MEMBRU_PARTID;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from MEMBRU_SINDICAT;""")
for result in mycursor:
    print(result)

In [ ]:
mycursor.execute("""SELECT * from CONTRACT;""")
for result in mycursor:
    print(result)

In [10]:
mycursor.execute("""select * from teren_cladire 
            where doc_id = '3';""")
for result in mycursor:
    print(result)

(9, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 1997, 85, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(10, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 2001, 253, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(11, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 1992, 377, '1/1', 'Contract de donaţie Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(12, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 2007, 76, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(13, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Casă de locuit', 2007, 64, '1/1', 'Contract de vânzare cumpărare', 'IOHANNIS KLAUS IOHANNIS CARMEN')
(14, 3, 1, 'ROMANIA', 'Sibiu', 'Sibiu', 'Apartament', 2020, 67, '1/1', 'Moştenire', 'IOHANNIS CARMEN')